<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_version</key>
	<string>2.1.0.0</string>
	<key>git_version</key>
	<string>GIT_VERSION</string>
	<key>loginServer</key>
	<string>163.223.12.142:16666</string>
	<key>loginServer2</key>
	<string>163.223.12.142:16666</string>
	<key>patch</key>
	<string>1</string>
	<key>serverUrl</key>
	<string>http://163.223.12.142:18080/servers</string>
	<key>versionUrl</key>
	<string>http://163.223.12.142:18080/version?fake=false</string>
	<key>noticeUrl</key>
	<string>http://163.223.12.142:18080/notice</string>
	<key>reportUrl</key>
	<string>http://163.223.12.142:1104</string>
	<key>disableWordCheckUrl</key>
	<string>http://163.223.12.142:1144/check</string>
	<key>forShenhe</key>
	<string>false</string>
	<key>forOBB</key>
	<string>false</string>
	<key>feedBackUrl</key>
	<string>http://163.223.12.142:1104/feedback</string>
	<key>channel</key>
	<string>none</string>
	<key>sdk</key>
	<string>none</string>
	<key>tag</key>
	<string>none</string>
	<key>localization</key>
	<string>vn</string>
</dict>
</plist>
