<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>txt_bh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,96}</string>
                <key>spriteSourceSize</key>
                <string>{222,96}</string>
                <key>textureRect</key>
                <string>{{1,3725},{222,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_sm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,96}</string>
                <key>spriteSourceSize</key>
                <string>{222,96}</string>
                <key>textureRect</key>
                <string>{{1,3823},{222,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_tl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,96}</string>
                <key>spriteSourceSize</key>
                <string>{222,96}</string>
                <key>textureRect</key>
                <string>{{1,3921},{222,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_xz1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,99},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,197},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,295},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,393},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yinghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,491},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,589},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yjy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,687},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,785},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,883},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_ym2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,981},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1079},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yn1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1177},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_ys1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1275},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1373},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yys.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1471},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_yz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1569},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1667},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1765},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zdh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1863},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_ze.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,1961},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2059},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zf1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2157},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2255},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zh1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2353},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zh2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2451},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zh3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2549},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zhenshe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2647},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zhenya.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2745},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zhikong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2843},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zhongzhao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,2941},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zhouyuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,3039},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zlg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,3137},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,3235},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,3333},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,3431},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,3529},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_zz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{223,96}</string>
                <key>spriteSourceSize</key>
                <string>{223,98}</string>
                <key>textureRect</key>
                <string>{{1,3627},{223,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>txts1.pvr.ccz</string>
            <key>size</key>
            <string>{225,4018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f5ee0dbcefe835dd403c9eb008602ed:1ee2257532eeafddee77a1dff9f1f746:2deb11c22669c15a66b5645ea2079566$</string>
            <key>textureFileName</key>
            <string>txts1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
